<nav class="white darken-3">
    <script src="https://kit.fontawesome.com/9fb1c68d30.js" crossorigin="anonymous"></script>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <li><a href="/Main" class="partial-word" style="font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 20px;">TASK!</a></li>
            <li class="myProfile"><a href="/MyProfile" class="partial-word"><i class="fa-solid fa-user"></i>&nbsp My Profile</a></li>
            <li><a href="/Notifications" class="partial-word"><i class="fa-solid fa-envelope"></i>&nbsp Notification</a></li>
            <li><a href="/api/user/logout" class="partial-word"><i class="fa-solid fa-right-from-bracket"></i>&nbsp Logout</a></li>
        </ul>
    </div>
</nav>