<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TASK!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="/script/Main.js"></script>

    <link rel="stylesheet" href="/css/Main.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/9fb1c68d30.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    {{> header}}
    {{{body}}}
</body>

<script>
    const form = document.querySelector('#search-form');
    const searchResults = document.querySelector('#search-results');


    form.addEventListener('submit', async (event) => {
        event.preventDefault(); // prevent the form from submitting

        const query = document.querySelector('#search').value;
        const response = await fetch(`/search?query=${query}`);
        const html = await response.text();

        searchResults.innerHTML = html;
    });
</script>

</html>