<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TASK!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/Profiles.css">
    <script src="/script/Profiles.js"></script>
    <script src="https://kit.fontawesome.com/9fb1c68d30.js" crossorigin="anonymous"></script>
</head>


<body>
    {{{body}}}
</body>

</html>