<form action="/api/user/forgot-password" method="post">
    <h3>Forgot your password?</h3>
    <div id="form">
        <p>Please enter your Email<br> so we can send you a link to reset your password.</p>
        <p></p>
        <div>
            <input name="email" type="email" class="inputs" placeholder="Enter your email">
        </div>
        <button type="submit" name="login" id="forgot-button" class="buttons">Submit</button>
    </div>
</form>