
<form>
    <h3>Forgot your password?</h3>
    <div id="form">
        <p>Please enter your username<br>to search for your account.</p>
        <p></p>
        <input type="email" class="inputs">
        <button type="submit" name="login" id="forgot-button" class="buttons">Submit</button>
    </div>
</form>
