<form action="/api/user/reset-password" method="post">
    <h3>Reset your password</h3>
    <div id="form">
        <p>Please enter a new password to reset your password.</p>
        <p></p>
        <div>
            <input name="token" type="text" class="inputs" placeholder="Enter the token" required>
            <input name="password" type="password" placeholder="Password" class="inputs" required>
            <input name="c_password" type="password" placeholder="Confirm your password" class="inputs" required>

        </div>
        <button type="submit" name="reset" id="forgot-button" class="buttons">Submit</button>
    </div>
</form>