<h3>Task!</h3>
<form action="/api/user/register" method="post">
    <div id="form">
        <input type="text" class="inputs" id="firstname" name="firstName" placeholder="First Name" required>
        <input type="text" class="inputs" id="lastname" name="lastName" placeholder="Last Name" required>
        <small style="color: gray;">You will not be able to change your email once you've signed up.</small>
        <input type="email" class="inputs" name="email" placeholder="Email" required>
        <input type="password" class="inputs" id="password" name="password" placeholder="Password" required>
        <input type="password" class="inputs" id="confirm_password" name="c_password" placeholder="Confirm password"
            required>
        <fieldset id="worker-customer" class="fieldsets inputs" required>
            <legend>Type of user</legend>
            <input type="radio" id="worker-radio" name="userType" value="1" class="radios" checked>
            <label for="worker-radio" id="worker-label" class="radios">Freelancer</label>
            <input type="radio" id="customer-radio" name="userType" value="2" class="radios">
            <label for="customer-radio" id="customer-label" class="radios">Employer</label>
        </fieldset>
        <fieldset class="fieldsets inputs" required>
            <legend id="dobp">Date of birth</legend>
            <input type="date" id="dateSelect" style="border-radius: 20px; text-align: center; font-size: 16px;"
                name="dob" placeholder="Select a date" onclick="dateSelector()" required>
        </fieldset>
        <div id="gender">
            <fieldset class="fieldsets" required>
                <legend id="genderp">Gender</legend>
                <input type="radio" id="male-radio" value="Male" name="gender" class="genders"
                    onchange="toggleOtherInput()" checked>
                <label for="male-radio" id="male-label" class="genders">Male</label>
                <input type="radio" id="female-radio" value="Female" name="gender" class="genders"
                    onchange="toggleOtherInput()">
                <label for="female-radio" id="female-label" class="genders">Female</label>
                <input type="radio" id="other-radio" value="Other" name="gender" class="genders"
                    onchange="toggleOtherInput()">
                <label for="other-radio" id="other-label" class="genders">Other</label>
            </fieldset>

        </div>
        <fieldset class="fieldsets" id="other-input" hidden>
            <legend>Pronouns <label style="color: gray;">(Optional)</label>
            </legend>
            <div class="otherInput">
                <input class="genders" type="text" id="pronouns" name="pronouns"
                    style="border-radius: 20px; text-align: center; font-size: 16px;" placeholder="Enter pronouns...">
            </div>
        </fieldset>
        <fieldset class="fieldsets">
            <legend>Country: </legend>
            <div class="otherInput">
                <select id="countryPicker" class="select2" style="width: 50%; margin-top: 20px; height: 20%;"
                    name="country" required>
                    <option value="">Select a country</option>
                </select>
            </div>
        </fieldset>
        <fieldset class="fieldsets">
            <legend>Phone Number:</legend>
            <input type="tel" id="phoneNumberInput" class="intl-tel-input inputs" name="phoneNumber"
                placeholder="Phone number" required />
        </fieldset>
        <button type="submit" class="buttons" id="signup-button">Submit</button>
    </div>
</form>

<script>
    $('.select2').select2();

    // Fetch country data from the REST API
    fetch('https://restcountries.com/v3.1/all')
        .then(response => response.json())
        .then(data => {
            // Convert the country data to the format expected by select2
            const countries = data.map(country => {
                return { id: country.cca2, text: country.name.common };
            });

            // Populate the select2 dropdown with the list of countries
            $('#countryPicker').select2({
                data: countries
            });
        })
        .catch(error => console.error(error));

    // Initialize intl-tel-input
    const phoneNumberInput = document.getElementById('phoneNumberInput');
    const iti = window.intlTelInput(phoneNumberInput, {
        // Optional configuration options
        preferredCountries: ['lb'], // Specify preferred countries
        separateDialCode: false, // Show the country code in a separate input
        initialCountry: 'lb', // Set the initial country
    });
</script>