<h3>Task!</h3>
<form action="/api/user/login" method="post">
    <div id="form">
        <input type="text" name="email" id="email" class="inputs" placeholder="Email" required>
        <input type="password" name="password" id="password_id" class="inputs" placeholder="Password" required>
        <input type="checkbox" onclick="myFunction()">Show Password
        <button type="submit" class="buttons" title="Login" name="login" id="login-button" value="Login">Login</button>
        <a id="forgot-password" href="/ForgotPassword">Forgotten your password?</a>
    </div>
    <a class="buttons" id="signup" href="/SignUp">Sign up!</a>
</form>