body{
    background-color: rgb(200, 250, 250);
    text-align: center;
}

h3{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-top: -20px;
    color: rgb(150, 100, 50);
}

h5{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

p{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rating{
    float: left;
    padding-right: 20px;
}

p{
    text-align: left;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}

.reviews{
    background-color: white;
    overflow-y: scroll;
    width: 50px;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 black;
}

.reviews::-webkit-scrollbar{
   width: 10px;
}

.reviews::-webkit-scrollbar-track{
    background: none;
 }

 /* .reviews::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 20px;
    
 } */

.fa-heart{
    color: red;
    -webkit-text-stroke: 0.04em black;
}

#heart5{
    color: transparent;
        background-image: linear-gradient(to left, white, red);
        -webkit-text-stroke: 0.04em black;
        -webkit-background-clip: text;
        background-clip: text;
}

.blue-reviews{
    background-color: rgb(200, 250, 250);
}

.grid-container{
    display: grid;
    margin-left: 2%;
    gap: 20px;
}

.page-button{
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0px;
}

.pagination{
    padding-left: 0px;
}

.page-item{
    padding: 5px;
    border-radius: 30px;
    color: rgb(220, 150, 70);
    font-size: 14px;
    font-weight: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    background-color: rgba(230, 230, 230, 0.5);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.page-item:hover{
    box-shadow: 0 1px 2px 0 rgba(100, 100, 100, 0.3);
}

input[type="radio"]:checked+label{
    border: solid 1.5px rgb(220, 150, 70);
}

@media screen and (min-width : 355px) {
    h3{
        font-size: 30px;
    }
    
    h4{
        font-size: 20px;
        margin-top: -20px;
    }
    
    h5{
        font-size: 16px;
    }
    
    p{
        font-size: 14px;
    }
    
    .rating{
        padding-right: 20px;
    }
        
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
     }
    
    .reviews{
        margin-bottom: 10px;
        width: 200px;
        padding: 10px;
        border-radius: 30px;
    }

    .fa-heart{
        font-size: 14px;
    }
    
    .grid-container{
        display: grid;
        margin-left: 7%;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    
    .page-button{
        padding-top: 3px;
        padding-bottom: 3px;
        border: 0px;
    }
    
    .pagination{
        padding-left: 0px;
    }
    
    .page-item{
        padding: 5px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 1.5;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        margin-bottom: 20px;
    }
}

@media screen and (min-width : 650px) {

    h3{
        font-size: 40px;
    }
    
    h4{
        font-size: 25px;
        margin-top: -20px;
    }
    
    h5{
        font-size: 20px;
    }
    
    p{
        font-size: 16px;
    }
    
    .rating{
        padding-right: 20px;
    }
        
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
     }
    
    .reviews{
        width: 300px;
        padding: 20px;
        border-radius: 30px;
    }
    
    .grid-container{
        display: grid;
        margin-left: 7%;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
    
    .page-button{
        padding-top: 3px;
        padding-bottom: 3px;
        border: 0px;
    }
    
    .pagination{
        padding-left: 0px;
    }
    
    .page-item{
        padding: 5px;
        border-radius: 30px;
        font-size: 24px;
        font-weight: 1.5;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
}

.buttons {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: solid 1px rgb(0, 0, 100);
    border-radius: 15px;
    color: rgb(0, 0, 100);
    background-color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 2.5px;
    margin-left: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons:hover {
    color: white;
    background-color: rgb(0, 0, 100);
    transition: 0.3s ease-in-out;
}

#popup {
    font-size: 12px;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 20%;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin-top: 4rem;
    box-shadow: 0 2px 12px 0 rgb(78, 96, 96);
    border-radius: 10px;
    padding: 20px;
}

.pop-buttons {
    display: block;
    margin: auto;
    margin-top: 10%;
    cursor: pointer;
    border: solid 1.5px black;
    border-radius: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 100);
    font-size: 18px;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
    background-color: white;
    border-color: rgb(0, 0, 100);
    font-size: 16px;
    box-shadow: 1px 1px 3px 1px rgba(78, 96, 96, 0.5);
}

.pop-buttons:hover {
    color: white;
    background-color: rgb(0, 0, 100);
    transition: 0.3s ease-in-out;
}


.fa-xmark {
    float: right;
    cursor: pointer;
}
